@model IEnumerable<HospitalManagementSystem.Entities.Concrete.Medical>
@{
    ViewData["Title"] = "HistoryByUser";
    Layout = "~/Views/Shared/_DoctorPanelLayout.cshtml";
}

<h1>Hastanın Medikal Geçmişi</h1>
