@model HospitalManagementSystem.Entities.Concrete.User
@using HospitalManagementSystem.Entities.Concrete

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body data-sidebar="dark">

    <div id="layout-wrapper">

        <div class="main-content">

            <div class="page-content">
                <form method="post" asp-action="Add">
                    <div class="col-md-12">  </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h2 class="mb-sm-0">Doctor Panel</h2>
                                </div>
                            </div>
                        </div>
                       
                            <div class="col-md-10 offset-1 ">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Add Doctor</h4>
                                    </div>

                                    <div class="card-body">
                                      
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mt-2">
                                                    <label class="col-form-label">TC Id No</label>
                                                    <input type="number" class="form-control" id="txtTcIdNo" asp-for="TCIdNo">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="mt-2">
                                                    <label class="col-form-label">First Name</label>
                                                    <input type="text" class="form-control" id="txtDoctorFirstname" asp-for="FirstName">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="mt-2">
                                                    <label class="col-form-label">Last Name</label>
                                                    <input type="text" class="form-control" id="txtDoctorLasrname" asp-for="LastName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mt-2">
                                                    <label class="col-form-label">Mail</label>
                                                    <input type="text" class="form-control" id="txtDoctorMail" placeholder="Ogmerem@gmail.com" asp-for="Mail">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="mt-2">
                                                    <label class="col-form-label">Password</label>
                                                    <input type="password" class="form-control" id="txtDoctorPassword" placeholder="******" asp-for="Password">
                                                </div>
                                            </div>
                                        </div>
                                    <button class="btn btn-primary mt-4 off" type="submit" style="width: 100%;">SAVE</button>

                                    </div>
                                </div>
                            </div>
                      
                    </div>
                </form>
                @if(ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                }

            </div>
        </div>
    </div>
   

    <script>
        // Add your JavaScript code here
        // ...
    </script>

</body>

</html>


