
@{
    ViewData["Title"] = "DoctorList";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
}
<!doctype html>
<html lang="en">
<body data-sidebar="dark">
<div class="main-content">
    <div class="page-content">
            <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Doctor Panel</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Doctor List</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="datatable-button" name="datatable-button"
                                           class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Edit&nbsp;&&nbsp;Delete</th>
                                            <th>FirstName</th>
                                            <th>LastName</th>
                                            <th>Username</th>
                                            <th>Mail</th>
                                            <th>Tc Id No</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-id="1">
                                            <td style="width: 100px">
                                                <a class="btn btn-outline-success btn-sm edit"
                                                   title="Edit"
                                                   data-bs-toggle="modal"
                                                   data-bs-target=".bs-example-modal-lg">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                              
                                                <a class="btn btn-outline-danger btn-sm edit"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#deletemodal">
                                                    <i class="fas fa-power-off"></i>
                                                </a>
                                            </td>
                                            <td data-field="dataDoctorName">Mert Umut</td>
                                            <td data-field="dataDoctorSurname">Yalpı</td>
                                            <td data-field="dataDoctorUsername">Username</td>
                                            <td data-field="dataDoctorUsername">mert@gmail.com</td>
                                            <td data-field="dataDoctorUsername">12011201202</td>
                                            <td data-field="dataDoctorUsername">Active</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
          <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        <div id="editModal" name="editModal" class="modal fade bs-example-modal-lg" tabindex="-1"
             role="dialog" aria-labelledby="myExtraLargeModalLabel"
             aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myExtraLargeModalLabel">
                            Edit Panel </h5>
                        <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Update Doctor</h4>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mt-1">
                                                    <label class=" col-form-label">FirstName</label>
                                                    <input type="text" class="form-control" id="txtDoctorNameModal">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mt-1">
                                                    <label  class=" col-form-label">LastName</label>
                                                    <input type="text" class="form-control" id="txtDoctorLastnameModal"
                                                           name="txtDoctorLastname">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mt-1">
                                                    <label class=" col-form-label">UserName</label>
                                                    <input type="text" class="form-control" id="txtDoctorUsernameModal"
                                                           name="txtDoctorUsername">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mt-1">
                                                    <label class=" col-form-label">Mail</label>
                                                    <input type="text" class="form-control" id="txtDoctorMailModal"
                                                           name="txtDoctorMail">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mt-1">
                                                    <label class=" col-form-label">TC Id No</label>
                                                    <input type="text" class="form-control" id="txtTcIdNoModal"
                                                           name="txtTcIdNo">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mt-1">
                                                    <label class=" col-form-label">Password</label>
                                                    <input class="form-control" type="password" id="txtPasswordModal" name="txtPassword">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card -->
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                    <div class="card-footer d-grid">
                        <button type="submit"
                                class="btn btn-success btn-block waves-effect waves-light">
                            <i class="ri-check-line align-middle me-2"></i> Update
                        </button>
                    </div>
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div><!-- /.modal -->
        <!-- End Page-content -->
        <div id="deletemodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-info ">
                        <h5 class="modal-title text-white" id="myModalLabel">Registration Status will be changed
                            !</h5>

                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="col-md-12">
                        <div class="modal-body text-center ">
                            <h3 class="modal-rptcause-name">ALERT!</h3>
                            <h4 class="grupTitle">Doctor activity status will be changed</h4>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                Close
                            </button>
                            <input type="submit" id="btnPersonelSilModal" name="btnPersonelSilModal"
                                   class="btn btn-success"
                                   value="Change">
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <!-- end main content-->
</body>
</html>


