
@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/MainPage.cshtml";
}

<!doctype html>
<html lang="en">

<body data-sidebar="dark">

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <h2> </h2>
            </div>
        </div>
    </div>
    <!-- end main content-->
    <!-- Right Sidebar -->


</body>
</html>