@model HospitalManagementSystem.Entities.Concrete.User
@{
    ViewData["Title"] = "PatientOperations";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
}
<!doctype html>
<html lang="en">

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <  @using (Html.BeginForm("Add", "Patient", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">PATIENT PANEL </h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-md-9 offset-1">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Patient Registration</h4>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mt-2">
                                                <label for="example-password-input" class=" col-form-label">
                                                    TC Id
                                                    Number
                                                </label>
                                                <input type="text" class="form-control" id="txtTcId" name="TCIdNo">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mt-2">
                                                <label for="example-password-input"
                                                       class=" col-form-label">Firstname</label>
                                                <input type="text" class="form-control" id="txtPt" name="FirstName">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mt-2">
                                                <label for="example-password-input" class=" col-form-label">LastName</label>
                                                <input type="text" class="form-control" id="txtPtLastname" name="LastName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col md-6 mt-2">
                                            <label for="example-email-input" class="col-form-label">Email</label>
                                            <input class="form-control" type="email" placeholder="Ogmerem@example.com"
                                                   id="txtptEmail" name="Mail">
                                        </div>
                                        <div class="col-md-6 mt-2">
                                            <label for="example-password-input" class="col-form-label">Password</label>
                                            <input class="form-control" type="password" id="txtPtPassword" placeholder="******" name="Password">
                                        </div>
                                    </div>

                                    <button class="btn btn-primary mt-4 off" type="submit" style="width: 100%;">SAVE</button>
                                </div>
                            </div><!-- end card -->
                        </div>
                    </div>

                </div> <!-- container-fluid -->
                }
                @if(ViewBag.ErrorMessage != null)
                {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }
                @if (TempData["SuccessMessage"] != null)
                {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                }
            </div>
            <div id="editModal" name="editModal" class="modal fade bs-example-modal-lg" tabindex="-1"
                 role="dialog" aria-labelledby="myExtraLargeModalLabel"
                 aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myExtraLargeModalLabel">
                                Günlük Ödeme Hareketleri
                            </h5>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Patient Registration</h4>
                                        </div>

                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mt-2">
                                                        <label for="example-password-input"
                                                               class=" col-form-label">Firstname</label>
                                                        <input type="text" class="form-control" id="txtPtNameModal" name="txtPtNameModal">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-2">
                                                        <label for="example-password-input" class=" col-form-label">LastName</label>
                                                        <input type="text" class="form-control" id="txtPtLastnameModal"
                                                               name="txtPtLastnameModal">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mt-2">
                                                        <label for="example-password-input" class=" col-form-label">
                                                            TC Id
                                                            Number
                                                        </label>
                                                        <input type="text" class="form-control" id="txtTcIdModal"
                                                               name="txtTcIdModal">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mt-2">
                                                    <label for="example-password-input" class="col-md-2 col-form-label">Tel</label>
                                                    <input class="form-control" type="tel" placeholder="0-(555)-555-5555"
                                                           id="txtTelModal" name="txtTelModal">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col md-6 mt-2">
                                                    <label for="example-email-input" class="col-form-label">Email</label>
                                                    <input class="form-control" type="email" value="Ogmerem@example.com"
                                                           id="txtEmailModal" name="txtEmailModal">
                                                </div>
                                                <div class="col-md-6 mt-2">
                                                    <label for="example-password-input" class="col-form-label">Password</label>
                                                    <input class="form-control" type="password" value="hunter2"
                                                           id="txtPasswordModal" name="txtPasswordModal">
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card -->
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                        <div class="card-footer d-grid">
                            <button type="submit"
                                    class="btn btn-success btn-block waves-effect waves-light">
                                <i class="ri-check-line align-middle me-2"></i> Update
                            </button>
                        </div>
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div><!-- /.modal -->
            <!-- End Page-content -->
            <div id="deletemodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                </div><!-- /.modal-content -->
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script>
                            © Upzet.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Crafted with <i class="mdi mdi-heart text-danger"></i> by Ogmerem
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <!-- end main content-->
    </div>



</body>
</html>
