<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Kontrol Paneli | Örnek Sağlık</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- jvectormap -->
    <link href="/assets/libs/jqvmap/jqvmap.min.css" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
    <!-- Begin page -->
    


        <header id="page-topbar">
            <div style="background-color:#1B2C3F"class="navbar-header">
                    <!-- LOGO -->
                    <img style="padding-left: 25px" src="~/assets/images/logo-sm.png">
                    <a style="color:white;
                             font-size:20px;
                             border:2px solid white;
                             padding:10px;
                             border-radius:10px" class="button" href="#">
                        <i class="ri-shut-down-line align-middle me-1 text-danger"></i> <b>Çıkış Yap</b>
                    </a>
                </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-page-layout-header"></i>
                                <span>Doktor Menüsü</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/Doctor/DoctorOperations">Oluştur-Sil-Güncelle</a></li>
                                <li><a href="/Doctor/DoctorList">Doktor Listesi</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-gradient"></i>
                                <span>Hasta Menüsü</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/Patient/PatientOperations">Oluştur-Sil-Güncelle</a></li>
                                <li><a href="/Patient/PatientList">Hasta Listesi</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-gradient"></i>
                                <span>Personel Menüsü</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/Personal/PersonalOperations">Oluştur-Sil-Güncelle</a></li>
                                <li><a href="/Personal/PersonalList">Personel Listesi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>

    <div>
        <div>
            <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Doctor Panel</h4>
                        </div>
                    </div>
                </div>

                <!-- end page title -->
                @RenderBody()
               
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <div id="editModal" name="editModal" class="modal fade bs-example-modal-lg" tabindex="-1"
                 role="dialog" aria-labelledby="myExtraLargeModalLabel"
                 aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myExtraLargeModalLabel">
                                Edit Panel
                            </h5>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Update Doctor</h4>
                                        </div>

                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">FirstName</label>
                                                        <input type="text" class="form-control" id="txtDoctorNameModal">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">LastName</label>
                                                        <input type="text" class="form-control" id="txtDoctorLastnameModal"
                                                               name="txtDoctorLastname">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">UserName</label>
                                                        <input type="text" class="form-control" id="txtDoctorUsernameModal"
                                                               name="txtDoctorUsername">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">Mail</label>
                                                        <input type="text" class="form-control" id="txtDoctorMailModal"
                                                               name="txtDoctorMail">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">TC Id No</label>
                                                        <input type="text" class="form-control" id="txtTcIdNoModal"
                                                               name="txtTcIdNo">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">Password</label>
                                                        <input class="form-control" type="password" id="txtPasswordModal" name="txtPassword">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card -->
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                        <div class="card-footer d-grid">
                            <button type="submit"
                                    class="btn btn-success btn-block waves-effect waves-light">
                                <i class="ri-check-line align-middle me-2"></i> Update
                            </button>
                        </div>
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div><!-- /.modal -->
            <!-- End Page-content -->
            <div id="deletemodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-info ">
                            <h5 class="modal-title text-white" id="myModalLabel">
                                Registration Status will be changed
                                !
                            </h5>

                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="col-md-12">
                            <div class="modal-body text-center ">
                                <h3 class="modal-rptcause-name">ALERT!</h3>
                                <h4 class="grupTitle">Doctor activity status will be changed</h4>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <input type="submit" id="btnPersonelSilModal" name="btnPersonelSilModal"
                                       class="btn btn-success"
                                       value="Change">
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center px-3 py-4">

                <h5 class="m-0 me-2">Settings</h5>

                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

            <!-- Settings -->
            <hr class="mt-0" />
            <h6 class="text-center mb-0">Choose Layouts</h6>

            <div class="p-4">
                <div class="mb-2">
                    <img src="assets/images/layouts/layout-1.png" class="img-thumbnail" alt="layout-1">
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" checked>
                    <label class="form-check-label" for="light-mode-switch">Light Mode</label>
                </div>

                <div class="mb-2">
                    <img src="assets/images/layouts/layout-2.png" class="img-thumbnail" alt="layout-2">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch"
                           data-bsStyle="assets/css/bootstrap-dark.min.css" data-appStyle="assets/css/app-dark.min.css">
                    <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
                </div>

                <div class="mb-2">
                    <img src="assets/images/layouts/layout-3.png" class="img-thumbnail" alt="layout-3">
                </div>
                <div class="form-check form-switch mb-5">
                    <input class="form-check-input theme-choice" type="checkbox" id="rtl-mode-switch"
                           data-appStyle="assets/css/app-rtl.min.css">
                    <label class="form-check-label" for="rtl-mode-switch">RTL Mode</label>
                </div>


            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>

    <!-- apexcharts js -->
    <script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- jquery.vectormap map -->
    <script src="assets/libs/jqvmap/jquery.vmap.min.js"></script>
    <script src="assets/libs/jqvmap/maps/jquery.vmap.usa.js"></script>

    <script src="/assets/js/pages/dashboard.init.js"></script>

    <script src="assets/js/app.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
