<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Dashboard | Upzet - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- jvectormap -->
    <link href="/assets/libs/jqvmap/jqvmap.min.css" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
    <!-- Begin page -->
    


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box text-center">
                        <a href="index.html" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="/assets/images/logo-sm.png" alt="logo-sm-dark" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="/assets/images/logo-dark.png" alt="logo-dark" height="24">
                            </span>
                        </a>

                        <a href="index.html" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="/assets/images/logo-sm.png" alt="logo-sm-light" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="/assets/images/logo-light.png" alt="logo-light" height="24">
                            </span>
                        </a>
                    </div>
                    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                            id="vertical-menu-btn">
                        <i class="ri-menu-2-line align-middle"></i>
                    </button>
                    <!-- App Search-->
                    <form class="app-search d-none d-lg-block">
                        <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="ri-search-line"></span>
                        </div>
                    </form>
                </div>
                <div class="d-flex">
                    <div class="dropdown d-inline-block d-lg-none ms-2">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                                id="page-header-search-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-search-line"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                             aria-labelledby="page-header-search-dropdown">

                            <form class="p-3">
                                <div class="mb-3 m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search ...">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="ri-search-line"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="dropdown d-none d-lg-inline-block ms-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="ri-fullscreen-line"></i>
                        </button>
                    </div>
                    <div class="dropdown d-inline-block user-dropdown">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-2.jpg"
                                 alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1">Kevin</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="#"><i class="ri-user-line align-middle me-1"></i> Profile</a>
                            <a class="dropdown-item" href="#">
                                <i class="ri-wallet-2-line align-middle me-1"></i> My
                                Wallet
                            </a>
                            <a class="dropdown-item d-block" href="#">
                                <span class="badge bg-success float-end mt-1">11</span><i class="ri-settings-2-line align-middle me-1"></i> Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="ri-lock-unlock-line align-middle me-1"></i> Lock
                                screen
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#">
                                <i class="ri-shut-down-line align-middle me-1 text-danger"></i> Logout
                            </a>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                            <i class="mdi mdi-cog"></i>
                        </button>
                    </div>

                </div>
            </div>
        </header>

        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-page-layout-header"></i>
                                <span>Doctor menu</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/Doctor/DoctorOperations">Create-Delete-Update</a></li>
                                <li><a href="/Doctor/DoctorList">Doctor List</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-gradient"></i>
                                <span>Patient Menu</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/Patient/PatientOperations">Create-Delete-Update</a></li>
                                <li><a href="/Patient/PatientList">Patient List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="mdi mdi-gradient"></i>
                                <span>Personal Menu</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/Personal/PersonalOperaitons">Create-Delete-Update</a></li>
                                <li><a href="/Personal/PersonalList">Personal List</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>

    <div>
        <div class="main-content">
            <div class="page-content">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Doctor Panel</h4>
                        </div>
                    </div>
                </div>

                <!-- end page title -->
                @RenderBody()
                <div class="row">
                  
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Doctor List</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="datatable-button" name="datatable-button"
                                           class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Edit&nbsp;&&nbsp;Delete</th>
                                            <th>FirstName</th>
                                            <th>LastName</th>
                                            <th>Username</th>
                                            <th>Mail</th>
                                            <th>Tc Id No</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-id="1">
                                            <td style="width: 100px">
                                                <a class="btn btn-outline-success btn-sm edit"
                                                   title="Edit"
                                                   data-bs-toggle="modal"
                                                   data-bs-target=".bs-example-modal-lg">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>

                                                <a class="btn btn-outline-danger btn-sm edit"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#deletemodal">
                                                    <i class="fas fa-power-off"></i>
                                                </a>
                                            </td>
                                            <td data-field="dataDoctorName">Mert Umut</td>
                                            <td data-field="dataDoctorSurname">Yalpı</td>
                                            <td data-field="dataDoctorUsername">Username</td>
                                            <td data-field="dataDoctorUsername">mert@gmail.com</td>
                                            <td data-field="dataDoctorUsername">12011201202</td>
                                            <td data-field="dataDoctorUsername">Active</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <div id="editModal" name="editModal" class="modal fade bs-example-modal-lg" tabindex="-1"
                 role="dialog" aria-labelledby="myExtraLargeModalLabel"
                 aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myExtraLargeModalLabel">
                                Edit Panel
                            </h5>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Update Doctor</h4>
                                        </div>

                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">FirstName</label>
                                                        <input type="text" class="form-control" id="txtDoctorNameModal">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">LastName</label>
                                                        <input type="text" class="form-control" id="txtDoctorLastnameModal"
                                                               name="txtDoctorLastname">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">UserName</label>
                                                        <input type="text" class="form-control" id="txtDoctorUsernameModal"
                                                               name="txtDoctorUsername">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">Mail</label>
                                                        <input type="text" class="form-control" id="txtDoctorMailModal"
                                                               name="txtDoctorMail">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">TC Id No</label>
                                                        <input type="text" class="form-control" id="txtTcIdNoModal"
                                                               name="txtTcIdNo">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">Password</label>
                                                        <input class="form-control" type="password" id="txtPasswordModal" name="txtPassword">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card -->
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                        <div class="card-footer d-grid">
                            <button type="submit"
                                    class="btn btn-success btn-block waves-effect waves-light">
                                <i class="ri-check-line align-middle me-2"></i> Update
                            </button>
                        </div>
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div><!-- /.modal -->
            <!-- End Page-content -->
            <div id="deletemodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-info ">
                            <h5 class="modal-title text-white" id="myModalLabel">
                                Registration Status will be changed
                                !
                            </h5>

                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="col-md-12">
                            <div class="modal-body text-center ">
                                <h3 class="modal-rptcause-name">ALERT!</h3>
                                <h4 class="grupTitle">Doctor activity status will be changed</h4>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <input type="submit" id="btnPersonelSilModal" name="btnPersonelSilModal"
                                       class="btn btn-success"
                                       value="Change">
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>

               
           


            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script>
                            © Upzet.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        


    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center px-3 py-4">

                <h5 class="m-0 me-2">Settings</h5>

                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                    <i class="mdi mdi-close noti-icon"></i>
                </a>
            </div>

            <!-- Settings -->
            <hr class="mt-0" />
            <h6 class="text-center mb-0">Choose Layouts</h6>

            <div class="p-4">
                <div class="mb-2">
                    <img src="assets/images/layouts/layout-1.png" class="img-thumbnail" alt="layout-1">
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" checked>
                    <label class="form-check-label" for="light-mode-switch">Light Mode</label>
                </div>

                <div class="mb-2">
                    <img src="assets/images/layouts/layout-2.png" class="img-thumbnail" alt="layout-2">
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch"
                           data-bsStyle="assets/css/bootstrap-dark.min.css" data-appStyle="assets/css/app-dark.min.css">
                    <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
                </div>

                <div class="mb-2">
                    <img src="assets/images/layouts/layout-3.png" class="img-thumbnail" alt="layout-3">
                </div>
                <div class="form-check form-switch mb-5">
                    <input class="form-check-input theme-choice" type="checkbox" id="rtl-mode-switch"
                           data-appStyle="assets/css/app-rtl.min.css">
                    <label class="form-check-label" for="rtl-mode-switch">RTL Mode</label>
                </div>


            </div>

        </div> <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>

    <!-- apexcharts js -->
    <script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- jquery.vectormap map -->
    <script src="assets/libs/jqvmap/jquery.vmap.min.js"></script>
    <script src="assets/libs/jqvmap/maps/jquery.vmap.usa.js"></script>

    <script src="/assets/js/pages/dashboard.init.js"></script>

    <script src="assets/js/app.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
