@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Sign Up";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico" />
	<title>Kayıt Ol | Örnek Sağlık</title>
	<link href="@Url.Content("~/css/SignStyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="modal fade" id="login-modal" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
			<br /> <br /> <br /> <br />
			<div class="loginmodal-container">
				<h1>Kayıt Olun</h1><br>
				<form>
				   @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
					<input type="text" name="FirstName" placeholder="Adınızı Giriniz">
					<input type="text" name="LastName" placeholder="Soyadınızı Giriniz">
					<input type="text" name="PhoneNumber" placeholder="Telefon Numaranızı Giriniz">
					<input type="text" name="Mail" placeholder="E-postanızı Giriniz">
					<input type="text" name="TCIdNo" placeholder="Kimlik Numaranızı Giriniz">
					
					<button type="submit" class="login loginmodal-submit">Kayıt Ol</button>
				}
				</form>
			</div>
		</div>
	</div>
</body>
