@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico" />
    <title>Giriş Yap | Örnek Sağlık</title>
    <link href="@Url.Content("~/css/SignStyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="modal fade" id="login-modal" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
			<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
			<div class="loginmodal-container">
				<h1>Giriş yapın</h1><br>
				@using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" })) {

					<input type="text" name="Mail" placeholder="E-postanızı Giriniz">
					<input type="password" name="Password" placeholder="Şifrenizi Giriniz">
										<button type="submit" class="login loginmodal-submit">Giriş Yap</button>

				}
			</div>
		</div>
	</div>
</body>
